body {
	box-sizing: border-box;
	background-color: #001b4a;
}

#root {
	@apply lg:relative lg:bg-background lg:bg-left-top bg-theme-dark-color font-sans h-screen bg-no-repeat bg-cover max-w-[1300px] overflow-hidden my-0 mx-auto shadow-blurredBorder min-h-screen overflow-y-auto;
	--body-color: #001b4a;
	--light-color: #edece8;
	--lightblue-color: #ccebe6;
	--dark-color: #001b4a;
	--transparent-color: transparent;
	--translucent-color: rgba(0, 27, 74, 0.8);
	--additional-color: #6681b0;
	--pink-color: #d1a2a3;
	--error-color: #e21e13;
	--background: url("@/assets/images/background.webp");
	--left-arrow-bg: url("@/assets/images/left_arrow.png");
	--right-arrow-bg: url("@/assets/images/right_arrow.png");
}

li {
	@apply mb-[10px];
}
li:hover {
	@apply font-bold;
}
